<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Github Trend", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Repository", root_path %></li>
        <li><%= link_to "Developers", githubs_developers_path %></li>
      </ul>
    </nav>
  </div>
</header> 

